<nav id="sidebar-icon-links">
    <a id="github-link"
       class="icon" title="Github" aria-label="Github"
       href="https://github.com/vansky">
      {% include svg/github.svg %}
    </a>

    <a id="google-link"
       class="icon" title="Google Scholar" aria-label="Google Scholar"
       href="https://scholar.google.com/citations?user=AtmDLewAAAAJ&hl=en&oi=ao">
      {% include svg/google.svg %}
    </a>

    <a id="email-link"
       class="icon" title="Email" aria-label="Email"
       href="mailto:marten.vanschijndel@gmail.com">
      {% include svg/email.svg %}
    </a>

    <a id="public-key"
       class="icon" title="Public Key" aria-label="Public Key"
       href="/assets/Marten_van_Schijndel-public_key.asc">
      {% include svg/key.svg %}
    </a>
</nav>
